@font-face{
	font-family: 'Roboto';
	scr: local('Roboto') url(../fonts/Roboto-Medium.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Roboto';
	scr: 	scr: local('Roboto') url(../fonts/Roboto-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

body {
	min-width:900px;
	padding:0;
	margin: 0;
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	font-size: 16px;
	background: white;	
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
	width: 880px;
	margin:0 auto;		
	padding: 0 10px;	
}
.main-header, .header{	
	background-color:#eeeeee;
}
.main-header{
	padding-top: 27px;
	padding-bottom: 50px
}
.main-navigation{
	float:left;
	width: 720px;
}
.main-navigation .header-logo{
	float:left;
	width: 140px;
	height: 65px;	
}
.main-navigation .main-menu {
	float:right;
	width: 500px;
}
.main-menu ul{
	padding:0px;
	margin: 0px;
	margin-top: 36px;
	list-style:none;		
}
.main-menu li{
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
	font-size: 14px;
	text-transform: uppercase;
}
.main-menu li a, .cart{
	display:inline-block;
	vertical-align: top;
	padding: 0 23px;	
	padding-bottom: 2px;
	text-align:right;	
	text-decoration:none;
	color: black;
	
}
.cart-bar {
	float: right;
	margin-top: 36px;	
}
.cart {		
	width: 100px;	
	padding-left: 20px;
	padding-right: 0px;
	background:url("../img/sprite.png") no-repeat center;
	background-position: 25px 5px;
	text-align:right;
}
.main-menu li a:hover, .cart-bar a:hover{
	color: #fb565a;	
}
.cart-bar a:hover {
	background-position: 25px -24px;	
}
.main-menu li a:active, .cart-bar a:active{
	color: black;
	opacity: 0.4;
}
.cart-bar a:active {
	opacity: 0.4;
	background-position: 25px 5px;
}
.slider {
	position: relative;
	width: 880px;
	height: 310px;
	margin: 0 auto;
}
.slider input[type=radio]{
	position: absolute;
	opacity: 0;
}
.slider-controls	{
	position:absolute;
	bottom: 95px;
	left:50%;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index:100;	
}
.slider-controls label{
	display:inline-block;
	vertical-align: top;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background:	#c1c1c1;
	z-index:101;	
}
.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.slide-text {
	width:470px;
	padding: 30px 0;
	color: black;
}
.slide-title, .about-us-title{
	font-size:36px;
	line-height:1;
}
.slide .btn {	
	width: 240px;	
}
.slide:nth-child(1){
	background: url('../img/slide_1.png') no-repeat 100% 10px;	
}
.slide:nth-child(2){
	background: url('../img/slide_2.png') no-repeat 100% 10px;	
}
.slide:nth-child(3){
	background: url('../img/slide_3.png') no-repeat 100% 10px;	
}
.slide{
	display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1){
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3){
	display: block;
}
.index-design-types {
	margin-top:80px;
}
.design-type {
	float:left;
	width: 240px;
	height: 300px;	
	margin-right:70px;
}
.design-type:nth-of-type(3n){
	margin-right:0px;
}
.design-type img{
	padding:12px 50px;
	width:140px;
	height: 100px;
	background:#fb565a;
}
.design-type:nth-of-type(2n) img{
	background:#00ca74;
}
.design-type:nth-of-type(3n) img{
	background:#efc84a;
}
.index-card {
	line-height:30px;
	font-size:18px;
	text-transform:uppercase;
}
.design-type p{
	line-height:22px;
	font-size:15px;
}
.btn {
	display: inline-block;	
	vertical-align: top;
	padding: 10px 33px;	
	line-height:18px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration:none;
	background:#fb565a;
	border-radius:3px;	
	border: none;
	outline: none;
	cursor: pointer	
}
.btn:hover {
	background: #d6494d;
}
.btn:active {
	background: #b63538;
	box-shadow: inset 0px 2px 5px 0 rgba(0,0,0, 0.5);
}
.design-type:nth-of-type(2n) .btn{
	background:#00ca74;
}
.design-type:nth-of-type(2n) .btn:hover{
	background:#01a25e;
}
.design-type:nth-of-type(2n) .btn:active{
	background:#009053;
	box-shadow: inset 0px 2px 5px 0 rgba(0,0,0, 0.5);
}
.design-type:nth-of-type(3n) .btn{
	background:#efc84a;
}
.design-type:nth-of-type(3n) .btn:hover{
	background:#d6ae2c;
}
.design-type:nth-of-type(3n) .btn:active{
	background:#c09b24;
	box-shadow: inset 0px 2px 5px 0 rgba(0,0,0, 0.5);
}
.about-us{
	padding: 75px 0;
	box-shadow:
		0 -2px 0 0 rgba(0,0,0, 0.2),
		0 2px 0 0 rgba(0,0,0, 0.2);
}
.about-us-left {
	float:left;
	width:580px;
}

.about-us-label{
	margin-top:49px;
	text-transform: uppercase;
}
.about-us-list ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.about-us-list li{
	position:relative;
	margin-top: 27px;
	padding-left: 38px;
}
.about-us-list li:before{
	content: "";
	position:absolute;
	height:2px;
	width:25px;
	bottom: 10px;
	left:0px;
	background: #fb565a;
}
.about-us-right {
	float:right;
	width:230px;	
}
.about-us-logo img{
	padding: 0 19px;
	padding-top:25px;
	padding-bottom:25px;
	width: 192px;
	height: 80px;
}

.about-us-logo p{
	text-align:center;
	position: relative;
	text-transform:uppercase;
}
.about-us-logo p::before,
.about-us-logo p::after {
  content: '';
  position: absolute;
  top: 50%;	
  height: 2px;
  width: 25%;  
  background: rgba(0,0,0, 0.2);
}
.about-us-logo p::before{
	left:0;
}
.about-us-logo p::after {
	right:0;
}
.index-partners  {
	display:inline-block;
	vertical-align: middle;
	padding: 34px 0;
	box-shadow: 0 2px 0 0 rgba(0,0,0, 0.2);	
}
.index-partners  a{
	display:inline-block;
	vertical-align: middle;
	padding-right: 130px;
	opacity: 0.2;
}
.index-partners  a:nth-of-type(3){
	padding-right: 0;
}
.index-partners  a:hover {
	opacity: 1;
}
.index-partners:first-child img{
	width:198px; 
	height:37px;
}
.index-partners:nth-child(2)img{
	width:199px; 
	height:68px;
}
.index-partners:nth-chil(3) img{
	width:209px; 
	height:90px;
}
.index-map{
	
	margin:75px auto;	
	width: 1199px;
	height: 416px;	
	background: url('../img/index-map.jpg') no-repeat 50%;
}
.index-adress{
	position: absolute;	
	margin:90px 0;
	padding:25px 15px;
	width:210px;
	height:200px;
	background: white;
}
.index-adress-label{	
	line-height:30px;
	font-size: 16px;
	text-transform:uppercase;
}
.index-adress p{
	line-height:20px;
	font-size: 16px;
	color:#666666;
	font-weight:normal;
}
.btn-map {
	margin-top: 20px;
	width:138px;
}
.footer-social {
	float:left;
	width:240px;
	margin-right:80px;	
}
.footer-social ul{
	padding: 0;
	margin: 0;
	list-style:none;
}
.footer-social li{
	display:inline-block;
	vertical-align:top;
}
.social-btn {
	display: inline-block;
	vertical-align:top;
	padding: 10px;
	width: 43px;
	height: 43px;
	margin: 0 2px;	
	border-radius: 50%;
	font-size:0;
	text-decoration: none;
	background: #e1e1e1 url("../img/sprite.png") no-repeat center;
}
.social-btn-vk{
	background-position: 17px -55px;	
}
.social-btn-fb {
	background-position: 19px -108px;	
}
.social-btn-inst {
	background-position: 19px -157px;	
}
.social-btn:hover {
	background-color: #fb565a;
}
.social-btn:active {	
	background-color: #b63538;
	box-shadow: inset 0px 2px 5px 0 rgba(0,0,0, 0.5)
}
.footer-friendship {	
	float: left;
	width: 550px;
}
.footer-friendship b{
	line-height:36px;
	font-size:36px;
	font-weight:normal;
}
.sub-footer{
	margin-bottom:75px;	
}
@keyframes shake {
	0%, 100%{
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90%{
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80%{
		transform: translateX(10px);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
.modal-content {
	display:none;	
	position: fixed;
	top: 120px;
	left: 50%;
	margin-left: -230px;	
	padding:45px 85px;
	width: 460px;
	z-index: 2000;
	background-color: white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-close {
	position: absolute;	
	top:6px;
	right: 6px;
	width: 42px;
	height: 42px;
	font-size:0;	
	border: 0;
	outline: 0;
	cursor:pointer;
	background:#fb565a;
	border-radius: 50%;
}
.modal-content-close::before, .modal-content-close::after{
	content: "";
	position: absolute;
	top: 18px;
	left: 8px;
	width:25px;
	height: 5px;
	background-color:white;
	border-radius: 1px;
	
}
.modal-content-close::before{
	transform:rotate(45deg);
} 
.modal-content-close::after{
	transform:rotate(-45deg);
}
.white-us-title	{
	line-height:18px;
	font-size:16px;
}
.white-us-user-name{
	display:inline-block;
}
.write-us input[name="user-name"],
.write-us input[name="user-e-mail"], 
.write-us textarea{
	width: 192px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 15px;	
	line-height: 18px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-transform: uppercase;	
	border: 2px solid #d7dcde;
	border-radius: 3px;
	outline: none;
}
.write-us input[name="user-name"]:hover,
.write-us input[name="user-e-mail"]:hover, 
.write-us textarea:hover{
		border: 2px solid #a2a9ac;
}
.write-us input[name="user-name"]:focus,
.write-us input[name="user-e-mail"]:focus, 
.write-us textarea:focus{
		border: 2px solid #56bffb;
}
.write-us textarea{
	display:inline-block;
	vertical-align: top;
	width:426px;
	max-width: 426px;
	min-height: 110px;
}
.modal-overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index: 200;
	width:100%;
	height: 100%;
	background: rgba(255,255,255, 0.5);
}
.modal-content-show{
	display: block;
	animation: bounce 0.6s;
}
.modal-error {
	animation: shake 0.6s;
}
/*~~~~~~~~~~~~~~~~~~~~catalog~~~~~~~~~~~~~~~~~~*/
.main-navigation .active{
	position:relative;	
	background-color: none;
}
.main-navigation .active span {
  display: block;
	display:inline-block;
	vertical-align: top;
	padding: 0 23px;	
	padding-bottom: 2px;
	text-align:right;	
	text-decoration:none;
	color: black;
}
.main-navigation .active::after{
	content: "";
	position:absolute;	
	height:2px;
	right: 23px;
	bottom: 0;
	left: 23px;
	background-color: #fb565a;
}
.catalog-main{
	margin-top:110px;
}
.catalog-title{
	width:660px;
	margin: 0 auto;	
	line-height: 1.4em;
	font-size: 40px;
	text-align:center;
	text-transform:uppercase;
	padding-bottom: 90px;	
}
.catalog-range-filter{
	margin-bottom: 50px;
}
.catalog-filters {
	float: left;
	width: 240px;
}
.catalog-filters-label {
	margin-top: 0;	
	line-height: 30px;
	fone-size:18px;
	text-transform:uppercase;
}
.catalog-web-gallery {
	float: right;
	width: 560px;
}
.range-filter {
	width: 240px;
}
.range-controls{
	position:relative;
	height: 41px;
	padding:0 20px;
	padding-top: 39px;	
	margin-bottom: 15px;
	border-radius: 5px;
	background: #f1f1f1;	
}
.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;	
}
.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid white;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
	left: 50px;
}
.range-controls .toggle-max {
	left: 110px;
}
.price-controls {
	font-size: 0;
}
.price-controls label{
	font-size: 16px;
	display: inline-block;
	width: 50%;
}
.max-price {
	text-align: right;	
}
.price-controls input{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	outline: none;
	background: #f1f1f1;
}
.catalog-filter-type ul, .catalog-filter-options ul{
	list-style:none;
	padding: 0;
	margin: 0;	
}
.catalog-filter-type li, .catalog-filter-options li{
	display:block;
	margin-top: 26px;
}
.catalog-filter-type li:last-of-type, .catalog-filter-options li:last-of-type{
	margin-bottom: 45px;
}
.filters-label-radio  input[type="radio"]{
	display:none;
}
.filters-label-radio {
	position:relative;
	padding-left: 30px;
	cursor: pointer;
}
.filters-label-radio input[type="radio"]+ .radio-indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 4px solid #b5b5b5;
	border-radius: 50%;
}
.filters-label-radio input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #b5b5b5;	
}
.filter-options ul{
	
}
.filter-options-checkbox input[type="checkbox"]{
	display:none;
}
.filter-options-checkbox {
	position:relative;
	padding-left: 30px;
	cursor: pointer;
}
.filter-options-checkbox input[type="checkbox"]+ .checkbox-indicator {
	position: absolute;
	color:#b5b5b5;
	top: -3px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url('../img/sprite_checkbox.png') no-repeat;
	background-position: 0px 0px;	
}
.filter-options-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
content: "";
	position: absolute;	
	top: -3px;
	left: 0;
	width: 30px;
	height: 30px;	
	background: white url('../img/sprite_checkbox.png') no-repeat;
	background-position: 1px -82px;	
} 
.filter-options-checkbox input[type="checkbox"][disabled] + .checkbox-indicator::before{
content: "";
	position: absolute;	
	top: -3px;
	left: 0;
	width: 30px;
	height: 30px;		
	background: white url('../img/sprite_checkbox.png') no-repeat;
	background-position: 1px -82px;	
}
.btn-show{
	color: black;
	background-color: #f1f1f1;	
}
.btn-show:hover{
	background-color: #e5e5e5;	
}
.btn-show:active{
	background-color: #d5d5d5;	
}
.catalog-filter-sub {
	padding:0;
	margin: 0;
	list-style: none;
}
.catalog-filter-gallery{
	margin-bottom: 22px;
}
.catalog-filter-gallery b{
	font-weight:normal;
	float: left;
	width: 100px;
	text-transform: uppercase;
	line-height:18px;
	font-size: 12px;
}
.catalog-filter-sub {
	float: left;
	width: 420px;
	padding:0;
	margin: 0;
	list-style: none;
} 
.catalog-filter-sub li{
	display:inline-block;
	vertical-align: top;
	margin: 0 23px;	
}
.catalog-filter-sub a, .filter-arrows a{	
	text-decoration:none;
	color: black;
	vertical-align:top;	
}
.catalog-filter-sub a{
	line-height:12px;
	fone-size:14px;
	opacity: 0.3;
	border-bottom:1px dotted #00ca74;		
}
.catalog-filter-sub a:hover {
	opacity: 1;
	border-bottom:1px solid #00ca74;		
}
.catalog-filter-sub a:active, .catalog-filter-sub a:checked {
	border-bottom:none;
}
.filter-arrows{
	position: relative;
	float:right;	
	font-size: 0;
	width: 30px;
	padding:0;
	margin: 0;
}
.btn-dwon{		
    content: ''; 
    position: absolute; 
    right: 20px; 
		top: 0px; 
    border: 5px solid transparent; 
    border-top: 10px solid #c1c1c1; 
   }
.btn-top{
	content: ''; 
  position: absolute; 
  right: 20px; 
	top: 0px; 
  border: 5px solid transparent; 
  border-top: 10px solid #c1c1c1; 
	right: 5px; 
	top: -27px; 
	transform:rotate(180deg);
}
.filter-arrows a[checked], .filter-arrows a:checked{
	border-top: 10px solid #00ca74;
}
.filter-arrows a:hover {
	border-top: 10px solid #c1c1c1;	
}
.filter-arrows a:active {
	border-top: 10px solid black;
}
.catalog-item {
	display:inline-block;
	vertical-align: top;
	position: relative;
	width: 240px;
	height: 270px;
	background: rgba(121,121,121, 0.1);	
	border-radius: 5px 5px 0 0;
	margin-bottom: 80px;
}
.catalog-item:nth-child(2n){
	margin-left:76px;	
}
.catalog-item::after {
	content: ''; 
  position: absolute;
	top:10px;
	left: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	box-shadow: 
	20px 0 0 rgba(255,255,255,1),
	40px 0 0 rgba(255,255,255,1)
	;
}
.catalog-item:hover{ 
background: rgba(121,121,121, 1);
}
.catalog-item  img{
	position:absolute;
	width: 240px;
	height: 240px;
	bottom: 0;
}
.shop-item {
	display:none;
	position:absolute;
	vertical-align: top;
	width: 200px;
	height: 200px;
	margin: 20px;
	margin-top: 50px;	
	background: white;
	text-align:center;
}
.shop-item a{
	text-decoration:none;
	color: black;	
}
.shop-item-info {
	margin: 0 12px;
}
.shop-item-info h2{
	font-size:18px;
	text-transform: uppercase;	
}
.btn-shop-item {
	position: absolute;
	width:140px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	
}
.catalog-item:hover .shop-item {
	display:inline-block;
	z-index: 10;
	
}
.catalog-pagination ul{
	list-style:none;
	pading: 0;
	margin: 0;	
}
.catalog-pagination li {
	display:inline-block;
	pading: 0;
	margin: 0;
}
.btn-pagination{
	display:block;
	padding: 8px 14px;
	line-height: 18px;
	font-size: 12px;
	color: black;
	background: #e5e5e5;
	border: 2px solid #e5e5e5;
	border-radius:3px;
}


.btn-pagination[checked], .btn-pagination:checked {
	background: white;
	border: 2px solid #d5d5d5;	
}
.btn-pagination:hover {
	padding: 10px 16px;
	background: #e5e5e5;
	border:none;	
}
.btn-pagination:active {
	padding: 10px 16px;
	background: #d5d5d5;
	border:none;
}